body {
    background-color: #555d85;
    margin: 0;
    padding: 0;
    color: #241c4f;
}


.wrapper {
    max-width: 1200px;
    background-color: #ffffff;
    margin: 0 auto;
    height: 840px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}


h1 {
    margin-bottom: 20px;
}


/*..........table elems.........*/
table {
    border-collapse: collapse;
    /*margin: 0;*/
    padding: 0;
    table-layout: fixed;
    /*margin-left: 30px;*/
}

td {
    border: 1px solid #b4b4ff;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    position: relative;
}

th {
    border: none;
    font-weight: lighter;
    padding: 10px;
    font-size: 0.8rem;
    user-select: none;
}


.fields {
    display: flex;
    align-items: center;
}

.field {
    margin: 0 20px;
}


.zoneWithShips {
    height: 350px;
    width: 400px;
    /*border: 1px solid #4644a6;*/
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


.ship-box-draggable {
    border: 2px solid #00f;
    background-color: rgba(0, 0, 255, .05);
    opacity: 70%;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    user-select: none;

}


.draggable {
    border: 2px solid green;
    cursor: move;

}

.notDraggable {
    border: 2px solid #e11414;
    cursor: not-allowed;
}

.battle-content {
    width: inherit;
    height: inherit;
}


.playZones {
    display: flex;
    align-items: center;

}

.zoneShips {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.text-onZone {
    margin-bottom: 15px;
    margin-left: 15px;

}


@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.4s;
    border: red solid 2px;
}

.btn-ready {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

.ready {
    border: 2px solid #00f;
    /*border-radius: 15px;*/
    height: 40px;
    background: #ffffff;
    width: 150px;
    font-size: 20px;
    cursor: pointer;

}

.ready:hover {
    border: 2px solid #0000c4;
    /*border-radius: 15px;*/
    height: 40px;
    background: #000591;
    width: 150px;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;

}

.error-text-empty-field {
    margin: 10px 0;
    color: #e13935;
    font-weight: bold;
    font-size: 18px;
    border: none
}

.btn-startGame {
    display: flex;
    margin: 30px;
    flex-direction: column;
}

.startGame {
    border: 2px solid #5eb939;
    /*border-radius: 15px;*/
    height: 40px;
    background: #ffffff;
    width: 150px;
    font-size: 20px;
    cursor: pointer;
}

.startGame:hover {
    border: 2px solid #3f7c26;
    height: 40px;
    background: #49912c;
    width: 150px;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
}

.active-fields {
    display: flex;
}

.text-ownerField {
    margin-top: 20px;

}

.activeField {
    display: flex;
    flex-direction: column;
}


/*............crosses, dots........................ */
.battlefield-miss {
    font-weight: bold;
    font-size: 24px;
    background: radial-gradient(circle, #2f2f2f 3px, transparent 1px), #f2f4f8;;
    background-position: center;
    background-repeat: no-repeat;

}

.battlefield-miss-auto {
    font-weight: bold;
    font-size: 24px;
    background: radial-gradient(circle, #8a8a8a 3px, transparent 1px), #f0f1f5;
    background-position: center;
    background-repeat: no-repeat;
}


.battlefield-cell-hit .z::before,
.battlefield-cell-hit .z::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150%;
    height: 2px;
    background: red;
    transform-origin: center;
    pointer-events: none;
}

.battlefield-cell-hit .z::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.battlefield-cell-hit .z::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.battlefield-cell-done .z::before,
.battlefield-cell-done .z::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150%;
    height: 2px;
    background: red;
    transform-origin: center;
    pointer-events: none;
}
.battlefield-wait .battlefield-cell-done .z::before,
.battlefield-wait .battlefield-cell-done .z::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150%;
    height: 2px;
    background: #f87f7f;
    transform-origin: center;
    pointer-events: none;
}

.battlefield-cell-done .z::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.battlefield-cell-done .z::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.battlefield-cell-done {
    outline: 2px solid red;
}
.battlefield-wait .battlefield-cell-done {
    outline: 2px solid #f87f7f;
}

.battlefield-wait:disabled {

}

.battlefield-wait table {
    color: #a6a6a6;
}
.battlefield-wait td {
    color: #bebebe;
    /*border: 1px solid #b2b4f3;*/
    border: 1px solid rgba(180,180,255,.5);
}

.battlefield-wait .battlefield-miss {
    background: radial-gradient(circle, #7e7e7e 3px, transparent 1px), #f9fbfd;
}
.battlefield-wait .battlefield-miss-auto {
    background: radial-gradient(circle, #7e7e7e 3px, transparent 1px), #f9fbfd;
}

.battlefield-wait .battlefield-cell-hit .z::before,
.battlefield-wait  .battlefield-cell-hit .z::after {
   background: #f87f7f;
}
.battlefield-wait .battlefield-cell-done .z::before,
.battlefield-wait  .battlefield-cell-done .z::after {
    background: #f87f7f;
}


.activeFieldPlayer1:not(.battlefield-wait)  td:hover:not(.battlefield-miss):not(.battlefield-miss-auto):not(.battlefield-cell-hit):not(.battlefield-cell-done) {
    outline: 2px solid #4dd328;
}
.activeFieldPlayer2:not(.battlefield-wait)  td:hover:not(.battlefield-miss):not(.battlefield-miss-auto):not(.battlefield-cell-hit):not(.battlefield-cell-done) {
    outline: 2px solid #4dd328;
}

.processGame-text {
    display: flex;
}
.text-whoTurn {
    font-weight: bold;
    font-size: 24px;
    width: 500px;
}
.field1-text {
    /*margin-right: 290px;*/
    margin-bottom: 10px;
}
.field2-text {
    margin-left: 100px;
    margin-bottom: 10px;
}
.playAgain {
    border: 2px solid red;
    /*border-radius: 15px;*/
    height: 40px;
    background: #ffffff;
    width: 150px;
    font-size: 20px;
    cursor: pointer;
}
.playAgain:hover {
    background: red;
    color: #fff;
}